@model Pizza[]

@{
    ViewData["Title"] = "My pizzas";
    var pizze = Model;
}
<div class=" container-fluid">
    <div class="row">
        @foreach (var pizza in pizze)
        {
            @await Html.PartialAsync("_Card", pizza)
        }
    </div>


</div>